---
import ImageWorkspaceLarge from "@assets/image-workspace-large.jpg";
import ImageWorkspaceSmall from "@assets/image-workspace-small.jpg";
import SocialList from "@components/SocialList.astro";
import Layout from "@layouts/Layout.astro";

const favoriteBooks = [
  {
    name: "The Pragmatic Programmer",
    author: "by Andrew Hunt and David Thomas (for helpful insights into software development)",
  },
  {
    name: "Ready Player One",
    author: "by Ernest Cline (for some futuristic escapism)",
  },
  {
    name: "The Hobbit",
    author: "by J.R.R. Tolkien (for a bit of fantasy fun)",
  },
  {
    name: "Educated",
    author: "by Tara Westover (for incredible inspiration)",
  },
];
---

<Layout>
  <section class="space-y-6 pb-6 sm:pb-8">
    <h1
      class="dark:text-neutral-0 relative inline-block text-3xl leading-tight font-extrabold tracking-[-0.5px] text-neutral-700 after:absolute after:bottom-1.5 after:left-0 after:-z-1 after:h-2 after:w-full after:bg-blue-500"
    >
      About Me
    </h1>
    <div class="space-y-6">
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        Hi, I’m Paulina! Ever since I can remember, I’ve had a passion for creativity and problem-solving. That’s what led me to the world of front-end web development. There’s something magical about
        seeing an idea come to life in the browser—whether it’s a simple layout experiment or a complex interface for a bigger project.
      </p>
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        When I’m not coding, I love getting lost in a good book. My taste is pretty eclectic: I’ll happily read everything from fantasy novels to biographies of tech pioneers. Reading helps me unwind
        and often sparks new ideas for my coding projects.
      </p>
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        Another big passion of mine is the great outdoors. Hiking allows me to disconnect from the digital world and reconnect with nature. I love challenging hikes with rewarding views at the top.
        And if I’m not on the trails, you might catch me rock climbing. The combination of mental focus and physical endurance is a perfect parallel to tackling tough coding challenges!
      </p>
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">Some of my favorite books:</p>
      <ul class="pl-6">
        {
          favoriteBooks.map((book) => {
            return (
              <li class="list-disc text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
                <span class="font-semibold">“{book.name}” </span>
                {book.author}
              </li>
            );
          })
        }
      </ul>
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        I absolutely love my workspace as a place that inspires me to do my best work, so I thought I’d share it with you:
      </p>
      <picture>
        <source srcset={ImageWorkspaceLarge.src} width="1200" height="736" media="(min-width: 640px)" />
        <img class="mb-6 rounded-lg" src={ImageWorkspaceSmall.src} width="634" height="389" alt="" />
      </picture>
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        I hope this blog not only documents my growth but also helps others see that coding can be for everyone. Thanks for joining me on this journey!
      </p>
    </div>
    <div class="space-y-4">
      <h2 class="dark:text-neutral-0 text-2xl leading-tight font-semibold tracking-[-0.5px] text-neutral-700">Follow me</h2>
      <SocialList />
    </div>
  </section>
</Layout>
