---
import BlogContent from "@components/BlogContent.astro";
import Layout from "@layouts/Layout.astro";
import { getBlogBySlug, getBlogs } from "@lib/blog";
import { formatDate } from "@lib/format-date";
import { getBlogThumbnail } from "@lib/images";
import { parseMarkdown } from "@lib/markdown";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return getBlogs().map((blog) => ({
    params: {
      slug: blog.slug,
    },
  }));
}

const { slug } = Astro.params;

const blog = getBlogBySlug(slug!);
const html = await parseMarkdown(blog?.content!);
const thumbnail = getBlogThumbnail(slug);
---

<Layout>
  <div class="progress-bar"></div>
  <section class="space-y-4 sm:space-y-3">
    <Image class="rounded-lg" style={`view-transition-name: thumbnail-${blog?.slug};`} src={thumbnail} width="640" height="427" alt="" />
    <h1 class="dark:text-neutral-0 text-5xl leading-tight font-extrabold tracking-[-1px] text-neutral-700">{blog?.title}</h1>
    <p class="mb-4 text-base leading-tight font-normal tracking-[-0.2px] text-neutral-600 italic sm:mb-3 dark:text-neutral-400">{formatDate(blog?.publishedAt!)}</p>
  </section>
  <BlogContent html={html} />
</Layout>
