---
import SocialList from "@components/SocialList.astro";
import blogs from "@data/data.json";
import Layout from "@layouts/Layout.astro";
import { getBlogThumbnail } from "@lib/images";
import { Image } from "astro:assets";

const latestBlogs = blogs.slice(0, 5);
---

<Layout>
  <section class="grid gap-6 border-b border-neutral-200 pb-8 dark:border-neutral-700">
    <h1
      class="dark:text-neutral-0 relative z-2 inline-block justify-self-start text-3xl leading-tight font-extrabold text-neutral-900 after:absolute after:bottom-1.5 after:left-0 after:-z-1 after:h-2 after:w-full after:bg-blue-700"
    >
      Hi, I'm Paulina 👋
    </h1>
    <div>
      <p class="mb-6 text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        I’m on a journey to become a front-end web developer. I love building little projects, trying out new coding techniques, and sharing what I learn along the way. When I’m not at my desk, you’ll
        find me reading, hiking through the mountains, or challenging myself on rock-climbing walls.
      </p>
      <p class="text-lg leading-normal tracking-[-0.2px] text-neutral-600 dark:text-neutral-400">
        I started this blog to document my progress, keep myself accountable, and hopefully inspire anyone else who’s learning to code. Welcome to my corner of the internet, and thanks for stopping
        by!
      </p>
    </div>

    <SocialList />
  </section>
  <section class="space-y-8 py-8">
    <h2 class="dark:text-neutral-0 text-3xl leading-tight font-extrabold tracking-[-0.5px] text-neutral-700">Latest Articles</h2>
    <ul class="space-y-6">
      {
        latestBlogs.map((blog) => {
          const formattedDate = new Intl.DateTimeFormat("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          }).format(new Date(blog.publishedAt));

          const thumbnail = getBlogThumbnail(blog.slug);
          return (
            <li>
              <a href={`/blog/${blog.slug}/`} class="grid gap-4 sm:grid-cols-[0.4fr_1fr]">
                <Image src={thumbnail} width={640} height={427} class="h-auto max-h-37.5 w-full rounded-sm object-cover object-top" alt="" />
                <div>
                  <h3 class="dark:text-neutral-0 mb-2 text-xl leading-tight font-semibold tracking-[-0.5px] text-neutral-700">{blog.title}</h3>
                  <p class="text-base leading-tight font-normal tracking-[-0.2px] text-neutral-600 italic dark:text-neutral-400">{formattedDate}</p>
                </div>
              </a>
            </li>
          );
        })
      }
    </ul>
    <a href="/blog" class="dark:text-neutral-0 text-lg leading-normal font-medium tracking-[-0.5px] text-neutral-700 underline decoration-blue-700 decoration-2 underline-offset-4">View all articles</a
    >
  </section>
</Layout>
